<ion-view view-title="{{city}}">
  <ion-content>
    <h1>Current Weather</h1>
      <div class="list card">

        <div class="item">
          <div class="item item-image">
            <skycon icon="weather.icon"></skycon>
          </div>
          <div class="content">
            <h2 ng-hide="weather">--°{{scale}}</h2>
            <h2 ng-show="weather">{{weather.temperature | number:precision}}°{{scale}}</h2>
            <h3> {{weather.summary}}</h3>
          </div>
        </div>

      </div>
  </ion-content>
</ion-view>
