<ion-view view-title="Location Search">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-ios-search-strong placeholder-icon"></i>
        <input type="text" placeholder="Enter City and State" ng-model="$parent.query" ng-change="queryChanged()">
      </label>
    </div>
    <!-- <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div> -->
  </ion-content>
</ion-view>
