<ion-view view-title="Location Search">
  <ion-content>
    <ion-list class="list">
      <ion-item>
        <label class="item-input">
          <i class="icon ion-ios-search-strong placeholder-icon"></i>
          <input type="text" placeholder="Enter City and State" ng-model="$parent.$parent.query" ng-change="$parent.queryChanged()">
        </label>
      </ion-item>
        <ion-item class="item-text-wrap" ng-repeat="place in locations">
          {{place.formatted_address}}
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
